body{
    background-color: #a0aecd;
}

.border{
    border-style: solid;
    color: black;
}

.education ul li:nth-child(even){
    color: black;
    font-weight: 500;
    list-style-type: circle;
    list-style-position: inside;
    padding-left: 10px;
}

.artistsprofile img{
    position: relative;
    display: inline-block;
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    margin: 0 30px;
    
}

.artistsprofile{
    display: flex;
    justify-content: space-between;
    position: absolute;
}

.artists p{
    margin: 0 30px;
    margin-top: 10px;
    margin-bottom: 20px;
    font-weight: bold;
}

.artistsprofile img:hover{
    transform: scale(1.1);
}